@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
}



ul[role='list'] ,li{
    list-style: none;
}

a {
    color: var(--mediumGray);
}

ul[role='list'] {
    background-color: var(--almostWhite);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    display: none;
    position: absolute;
    z-index: 1000;
}


.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}


a {
    text-decoration: none;
}

.arrow::after{
    content: url('./images/icon-arrow-down.svg');
    position: absolute;
    top: 0;
    padding-left: 4px;
}

.arrow-up.arrow::after {
    content: url('./images/icon-arrow-up.svg');
    position: absolute;
    top: 0;
    padding-left: 4px;
}

h1 {
    color: var(--almostBlack);
}

p {
    color: var(--mediumGray);
}

button {
    border: none;
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    transition: all 1s;
} 

button:hover {
    border: 2px solid var(--almostBlack);
    background-color: transparent;
    color: var(--almostBlack);
    font-size: 16px;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.drop{
    font-size: .8em;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px;
    
}

.dropdown:hover ul {
    display: block;
}

.dropdown>ul>li:hover{
    background-color: rgba(0,0,0,0.04);
}


@media (max-width: 56em){
    header {
    margin: 20px;
   }
   
   .foo {
        display: flex;
        flex-direction: column;
    }

    li{
        margin-bottom: 12px;
    }

    .logo {
        position: absolute;
        left: -150%;
        
        top: 30px;
    }


    .wrapper-bgColor{
        background-color: hsla(0, 0%, 8%, 0.356);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
       

    }

    .primary-navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: hsl(0, 0%, 98%);
        position: fixed;
        inset: 0 0 0 40%;
        opacity: .9;
        padding: min(40vh, 160px) 40px;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        
    }

    

    .toggle {
        aspect-ratio: 1;
        background-image: url('images/icon-menu.svg');
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top: 8px;
        width: 32px;
        z-index: 1000;
    }

    .primary-navigation[data-visible= 'true']{
        transform: translateX(0%);
    }
    
    .toggle[aria-expanded='true']{
      background-image: url('images/icon-close-menu.svg');
    }

    section {
        max-width: 900px;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .images .mobile .hero-mobile{
        margin-top: 60px;
        width: 100%;
    }

    .soo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .container__content h1 {
        font-size: 2em;
        font-weight: 700;
        margin: 20px 0 20px 0;
    }

    .container__content p {
        line-height: 25px;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
    }

    button {
        border-radius: 12px;
        font-size: 1em;
        margin: 20px 0 30px 0;
        padding: 15px 40px;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        max-width: 80px;
        margin-top: 20px;
    }

    .icons img {
        width: 80%;
    }

    .desktop, br{
        display: none;
    }
}




@media (min-width: 56em){
    
    header{
       
        padding-top: 20px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: max-content auto ;
        grid-template-areas: ".logo .primary-navigation";
        align-items: center;
    }

    .wrapper >* {
        place-self: start;
    }

    .logo{
        grid-area: logo;
    }

    .primary-navigation{
        display: flex;
        
        grid-area: primary-navigation;
    }

    

    
  /* nav {
    display: grid;
    grid-template-columns: max-content auto  min-content;
    grid-template-areas: '.logo .foo  .lr';
    gap: 20px;
    
    }

    nav > * {
        place-self: start;
        display: flex;
    } */


    /* .logo{
        grid-area: logo;
        margin-left: auto;
    }

    .foo {
        grid-area: foo;
        gap: 40px;
    }

    

    .lr {
       grid-area: lr;
       gap: 50px;
    } */

    section {
        max-width: 1400px;
        display: block;
        margin: 100px auto;
    }

    .container {
        display: grid;
        grid-template-columns: max-content  auto;
        grid-template-areas: ".container__content  .images";
        align-items: center;
        gap: 40px;
    }

    .container__content {
        grid-area: container__content;
        /* padding: 0 0 0 70px; */
        margin-left: auto;
       
        
    }

    .soo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .toggle{
        display: none;
    } 
 
    .container__content h1 {
        font-size: 4em;
        font-weight: 700;
        
        
    }

    .container__content p {
        line-height: 25px;
        padding-top: 30px;
    }

    button {
       border-radius: 12px;
       font-size: 16px;
       font-weight: 500;
       margin-top: 20px; 
       padding: 20px 60px;
       
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 120px;
    }

    .images {
        grid-area: images;
        
        
    }

    .container > * {
        align-self: center;
    }

    .desktop .hero-desktop{
        width: 500px;
    }

    .mobile {
        display: none;
    }
}